
# comment the following to update the files
config/firebase-config.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

# project-specific ignores
developer/
package-lock.json
.gitignore
.DS_Store
settings.json
.firebaserc
firebase.json
package.old.json
